<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/drive.ico" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
        <%- include("./header.html") %>
        <br>
        <p class="aligncenter">
            <img src="../public/images/drive2.jpg" alt="logo" width="700" height="300">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro" >
                Молчаливый водитель спасает девушку от гангстеров. Неонуар с Райаном Гослингом и пульсирующим саундтреком
            </p>
            <p class="aligncenter">
                <img src="../public/images/gosling.jpg" alt="logo" width="700" height="300">
            </p>
            <p class="intro">
                Великолепный водитель – при свете дня он выполняет каскадерские трюки на съёмочных площадках Голливуда, а по ночам ведет рискованную игру. 
                Но один опасный контракт – и за его жизнь назначена награда. 
                Теперь, чтобы остаться в живых и спасти свою очаровательную соседку, он должен делать то, что умеет лучше всего – виртуозно уходить от погони.
            </p>
        </div>
    
    </div>
    <%- include("./footer.html") %>
    </div>
</body>
</html>
