<!DOCTYPE html>
<html>
<head>
    <title>Собаки</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
<center>
    <br>
    <form action="/new" method="post">
        <input class="txt" name="dog_name" type="text" placeholder="Кличка собаки" value="">
        <input class="txt" name="color" type="text" placeholder="Цвет" value="">
        <input class="txt" name="age" type="text" placeholder="Возраст" value="">
        <button class="send">Добавить собаку</button>
    </form>
    <br>

</center>
</body>
<html>